@model Market.MVCWebUI2.Models.CategoryListViewModel

<h2>Kategoriler</h2>
<div class="list-group">
    @{
        var name = "list-group-item";
        if (Model.CurrentCategory==0)
        {
            name += " active";
        }
    }
    <a href="/product/index" class="@name">Tüm ürünler</a>
    @foreach (var category in Model.Categories)
    {
        var css = "list-group-item";
        if (category.CategoryId == Model.CurrentCategory)
        {
            css += " active";
        }
        <a href="/product/index?category=@category.CategoryId" class="@css">@category.CategoryName</a>
    }

</div>